<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias alias="av" type="MeetWhen.spring.vo.AirportVO"/>
		<typeAlias alias="lv" type="MeetWhen.spring.vo.LatlonVO"/>
	</typeAliases>

	<mappers>
		<mapper resource="/sql/airportSQL.xml" />
		<mapper resource="/sql/latlonSQL.xml" />
		<mapper resource="/sql/memberSQL.xml" />
	</mappers>
</configuration>